// Ultimate DoomBuilder related
*.dbs
*.backup[123]

// Zandronum related
auto*.zds

// Compiled ACS
*.o

// Generated ACSUtils assets
libsrc/cvarinfo.acsutils
libsrc/decorate.acsutils
libsrc/acs_source/bcsutils/bcsutils.acs