// Ultimate DoomBuilder related
*.dbs
*.backup[0-9]*
*.autosave[0-9]*

// Zandronum related
auto*.zds

// Compiled ACS
*.o

// Generated ACSUtils assets
pk3/libraries/ZombieHorde2Lib/cvarinfo.acsutils
pk3/libraries/ZombieHorde2Lib/decorate.acsutils
pk3/libraries/ZombieHorde2Lib/acs_source/bcsutils/bcsutils.acs