// Ultimate DoomBuilder related
*.dbs
*.backup[123]

// Zandronum related
auto*.zds

// Compiled ACS
*.o

// Generated ACSUtils assets
pk3/lib/cvarinfo.acsutils
pk3/lib/decorate.acsutils
pk3/lib/acs_source/bcsutils/bcsutils.acs